<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @eduardo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @eduardo.descripcion %>
</p>

<%= link_to 'Edit', edit_eduardo_path(@eduardo) %> |
<%= link_to 'Back', eduardos_path %>
